/* styles.css */

.error-msg {
  color: red;
}

label {
  padding-left: 20px; /* Add padding to the left of the label */
  padding-right: 10px;
}

.move-button {
  transform: translateX(20px); /* Moves the button 10 pixels to the right */
}
/* Move the checkbox away from the label */
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
}
/* Move headers and paragraphs 10 pixels to the right */
h2, h3, p {
  margin-left: 10px; /* Add 10 pixels of left margin */
}